{% load static %}
{% load bootstrap5 %}
{% load i18n %}
{% load auth_extras %}
{% get_current_language as language_code %}
<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Cookie&family=PT+Mono&display=swap');
    </style>
    <title>{% block title %}SCHOOL @ {% endblock %}</title>
</head>
<body class="dark">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/select-menu.js' %}"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-school fixed-top">
        <div class="container-fluid">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" width="30" />&nbsp</a>
            <a class="navbar-brand" href="{% url 'index' %}">ENDTG</a>
            <div class="navbar-brand">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <!--
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jeux</a>
                    </li>
                    -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Jeux</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{% url 'games:letter' %}">Lettres</a></li>
                            <li><a class="dropdown-item" href="{% url 'games:word' %}">Mots</a></li>
                            <li><a class="dropdown-item" href="{% url 'games:addition' %}">Addition</a></li>
                            <li><a class="dropdown-item" href="{% url 'games:addition_posee' %}">Addition Posée</a></li>
                            <li><a class="dropdown-item" href="{% url 'games:soustraction' %}">Soustraction</a></li>
                            <li><a class="dropdown-item" href="{% url 'games:multiplication' %}">Multiplication</a></li>
                            <li><a class="dropdown-item" href="{% url 'games:halo' %}">Halo</a></li>
                            <!--
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            -->
                        </ul>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
                    </li>
                    -->
                </ul>
                {% if user.is_authenticated %}
                <span class="nav-text">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                <ul class="nav navbar-nav d-flex">
                    {% if request.user|has_group:"ADMIN" or request.user|has_group:"ENSEIGNANT" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administration</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{% url 'games:create_word' %}">Créé un mots</a></li>
                            <li><a class="dropdown-item" href="{% url 'games:create_halo' %}">Créé un halo</a></li>
                            <!--
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            -->
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:logout' %}"><i class="bi bi-box-arrow-right"></i></a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav d-flex">
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:register' %}"><i class="bi bi-person"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i></a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div aria-live="polite" aria-atomic="true" class="bg-dark bd-example-toasts">
        <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
            <div class="toast fade hide bg-light" id="error_message">
                <div class="toast-header {% if message.tags %} bg-{{ message.tags }} text-light {% endif %}">
                    <strong class="me-auto">Information</strong>
                    <i class="bi-info-circle"></i>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#error_message').addClass('show');
        $('#error_message').removeClass('hide');
        function hideMsg () {
            $('#error_message').fadeOut();
            //$('#error_message').removeClass('show');
        }
        setTimeout(hideMsg,3000);
    </script>
    {% endfor %}
    {% endif %}
<div id="content" class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>