{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - Accueil{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="mt-10 h1">Bienvenue {{ user.first_name }} !</div>
<div class="d-flex flex-wrap justify-content-md-center">
    <a role="button" href="{% url 'games:letter' %}" class="btn col-3 text-center h3 p-4 btn-danger m-2 rounded text-white fs-2">Lettres</a>
    <a role="button" href="{% url 'games:word_one' %}" class="btn col-3 text-center h3 p-4 btn-warning m-2 rounded text-dark fs-2">Mots</a>
    <a role="button" href="{% url 'games:addition' %}" class="btn col-3 text-center h3 p-4 btn-success m-2 rounded text-white fs-2">Additions</a>
</div>
<div class="d-flex flex-wrap justify-content-md-center">
    <a role="button" href="{% url 'games:addition_posee' %}" class="btn col-3 text-center h3 p-4 btn-primary m-2 rounded text-white fs-2">Additions posées</a>
    <a role="button" href="{% url 'games:soustraction' %}" class="btn col-3 text-center h3 p-4 btn-info m-2 rounded text-dark fs-2">Soustractions</a>
    <a role="button" href="{% url 'games:multiplication' %}" class="btn col-3 text-center h3 p-4 btn-light m-2 rounded text-dark fs-2">Multiplications</a>
</div>
    {% if request.user|has_group:"ADMIN" or request.user|has_group:"ENSEIGNANT" %}
    <div class="d-flex flex-wrap justify-content-md-center">
        <a role="button" class="btn col-3 text-center fs-5 p-2 btn-secondary m-2 rounded text-white fs-4" href="{% url 'games:create_word_list' %}">Ajouter des mots</a>
        <a role="button" class="btn col-3 text-center fs-5 p-2 btn-secondary m-2 rounded text-white fs-4" href="{% url 'games:create_halo' %}">Créer un halo</a>
    </div>
    <div class="d-flex flex-wrap justify-content-md-center">
        <a role="button" class="btn col-3 text-center fs-5 p-2 btn-secondary m-2 rounded text-white fs-4" href="{% url 'account:user_list' %}">Liste des utilisateurs</a>
        <a role="button" class="btn col-3 text-center fs-5 p-2 btn-secondary m-2 rounded text-white fs-4" href="{% url 'games:export-words' %}">Export des mots (console)</a>
    </div>
    {% endif %}
{% endif %}
<!--
{% if request.user|has_group:"CP" %}
    <p>CP</p>
{% endif  %}
{% if request.user|has_group:"CE1" %}
    <p>CE1</p>
{% endif  %}
{% if request.user|has_group:"CE2" %}
    <p>CE2</p>
{% endif  %}
{% if request.user|has_group:"CM1" %}
    <p>CM1</p>
{% endif  %}
{% if request.user|has_group:"CM2" %}
    <p>CM2</p>
{% endif  %}
{% if request.user|has_group:"ADMIN" %}
    <p>ADMIN</p>
{% endif  %}
{% if request.user|has_group:"ELEVE" %}
    <p>ELEVE</p>
{% endif  %}
{% if request.user|has_group:"ENSEIGNANT" %}
    <p>ENSEIGNANT</p>
{% endif  %}
-->
{% endblock %}