{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - Accueil{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="mt-10 h1">Bienvenue {{ user.first_name }} !</div>
<div class="row">
    <div class="col-6" style="cursor:pointer;" onclick="location.href='{% url 'games:letter' %}';">
        <div class="card mb-3 border-primary">
            <div class="row g-0">
                <div class="col-md-3 lh-5 text-center pt-4">
                    <i class="bi bi-type" style="font-size:6em;"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Jeux de Lettres</h5>
                        <p class="card-text">Pour mieux connaître son clavier... <br/>Plusieurs niveaux disponibles. A vous de jouer, vous avez 1 minute pour saisir un maximum de lettres.</p>
                        <div class="progress mt-3">
                            <div class="progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-3 border-primary">
            <div class="row g-0">
                <div class="col-md-3 lh-5 text-center pt-4">
                    <i class="bi bi-code-slash" style="font-size:6em;"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Jeux de Mots</h5>
                        <p class="card-text">Pour encore mieux connaître son clavier...<br/>Plusieurs niveaux disponibles. A vous de jouer, vous avez 1 minute pour saisir un maximum de mots</p>
                        <div class="progress mt-3">
                            <div class="progress-bar-striped bg-info" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card mb-3 border-primary">
            <div class="row g-0">
                <div class="col-md-3 lh-5 text-center pt-4">
                    <i class="bi bi-plus-lg" style="font-size:6em;"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Additions</h5>
                        <p class="card-text">Entraînes-toi au calcul mental en réalisant un maximum d'additions simple en moins d'une minute !</p>
                        <div class="progress mt-3">
                            <div class="progress-bar-striped bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-3 border-primary">
            <div class="row g-0">
                <div class="col-md-3 lh-5 text-center pt-4">
                    <i class="bi bi-dash-lg" style="font-size:6em;"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Soustractions</h5>
                        <p class="card-text">Entraînes-toi au calcul mental en réalisant cette fois-ci un maximum de soustractions, sans pièges, en moins d'une minute !</p>
                        <div class="progress mt-3">
                            <div class="progress-bar-striped bg-info" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card mb-3 border-primary">
            <div class="row g-0">
                <div class="col-md-3 lh-5 text-center pt-4">
                    <i class="bi bi-x-lg" style="font-size:6em;"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Multiplications</h5>
                        <p class="card-text">Entraînes-toi au calcul mental sur les tables de multiplications, toujours en moins d'une minute !</p>
                        <div class="progress mt-3">
                            <div class="progress-bar-striped bg-info" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-3 border-primary">
            <div class="row g-0">
                <div class="col-md-3 lh-5 text-center pt-4">
                    <i class="bi bi-plus-slash-minus" style="font-size:6em;"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Additions posées</h5>
                        <p class="card-text">Entraînes-toi au calcul mental avec des additions posées sur des nombres compris entre 10 et 99.</p>
                        <div class="progress mt-3">
                            <div class="progress-bar-striped bg-info" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-wrap justify-content-md-center">
    <a role="button" href="{% url 'games:letter' %}" class="btn col-3 text-center h3 p-4 btn-danger m-2 rounded text-white fs-2">Lettres</a>
    <a role="button" href="{% url 'games:word_one' %}" class="btn col-3 text-center h3 p-4 btn-warning m-2 rounded text-dark fs-2">Mots</a>
    <a role="button" href="{% url 'games:addition' %}" class="btn col-3 text-center h3 p-4 btn-success m-2 rounded text-white fs-2">Additions</a>
</div>
<div class="d-flex flex-wrap justify-content-md-center">
    <a role="button" href="{% url 'games:addition_posee' %}" class="btn col-3 text-center h3 p-4 btn-primary m-2 rounded text-white fs-2">Additions posées</a>
    <a role="button" href="{% url 'games:soustraction' %}" class="btn col-3 text-center h3 p-4 btn-info m-2 rounded text-dark fs-2">Soustractions</a>
    <a role="button" href="{% url 'games:multiplication' %}" class="btn col-3 text-center h3 p-4 btn-light m-2 rounded text-dark fs-2">Multiplications</a>
</div>
    {% if request.user|has_group:"ADMIN" or request.user|has_group:"ENSEIGNANT" %}
    <div class="d-flex flex-wrap justify-content-md-center">
        <a role="button" class="btn col-3 text-center fs-5 p-2 btn-secondary m-2 rounded text-white fs-4" href="{% url 'games:create_word_list' %}">Ajouter des mots</a>
        <a role="button" class="btn col-3 text-center fs-5 p-2 btn-secondary m-2 rounded text-white fs-4" href="{% url 'games:create_halo' %}">Créer un halo</a>
    </div>
    <div class="d-flex flex-wrap justify-content-md-center">
        <a role="button" class="btn col-3 text-center fs-5 p-2 btn-secondary m-2 rounded text-white fs-4" href="{% url 'account:user-list' 'la' 'wa' %}">Liste des utilisateurs</a>
        <a role="button" class="btn col-3 text-center fs-5 p-2 btn-secondary m-2 rounded text-white fs-4" href="{% url 'games:export-words' %}">Export des mots (console)</a>
    </div>

    {% endif %}
{% else %}
<div class="mt-10 h1">Bienvenue !</div>
{% endif %}
<!--
{% if request.user|has_group:"CP" %}
    <p>CP</p>
{% endif  %}
{% if request.user|has_group:"CE1" %}
    <p>CE1</p>
{% endif  %}
{% if request.user|has_group:"CE2" %}
    <p>CE2</p>
{% endif  %}
{% if request.user|has_group:"CM1" %}
    <p>CM1</p>
{% endif  %}
{% if request.user|has_group:"CM2" %}
    <p>CM2</p>
{% endif  %}
{% if request.user|has_group:"ADMIN" %}
    <p>ADMIN</p>
{% endif  %}
{% if request.user|has_group:"ELEVE" %}
    <p>ELEVE</p>
{% endif  %}
{% if request.user|has_group:"ENSEIGNANT" %}
    <p>ENSEIGNANT</p>
{% endif  %}
-->
{% endblock %}