@font-face {
  font-family: "Morasoft";
  src: url("./fonts/Morasoft7.ttf");
}
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background-color: #FFC300;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}


.bg-school {
    background-color: #FFC300 ;
}
.dark {
    /* color:#CCC; */
    background-color: #333 ;
}
.dark div {
    color:#CCC;
}
.dark .nav-link, .dark .nav-text {
    background-color: #FFC300 ;
    color:#333;
}
.dark .nav-link i.bi {
    font-size:2em;
    line-height:0;
}

.testbox {
    margin: 100px auto;
    width: 500px;
    -webkit-border-radius: 20px/18px;
    -moz-border-radius: 20px/18px;
    background-color: #333;
    border: none;
    padding:20px;
    box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.4),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.2);
    border-radius: 30px;

}
.testbox input {
    background-color:#333;
    border:none;
    border-radius:50px;
    color:#EEE;
    font-size:1.8em;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.5),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
    overflow:hidden;
    padding:5px 0 10px 20px;
    margin:20px 0;
}
.testbox select, .select2 {
    background-color:#333;
    border:none;
    border-radius:50px;
    color:#EEE;
    font-size:1.8em;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.5),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
    overflow:hidden;
    padding:5px 0 10px 20px;
    margin:20px 0;
}
.select2-container, .selection {
    background-color:#333;
    border:none;
    border-radius:50px;
    color:#EEE;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.5),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
}
.select2-container--default .select2-selection--single {
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
}
.select2-container--default .select2-selection--single, .select2-container--focus, .select2-container--below {
    height:50px !important;
}

.testbox input:focus, .testbox select:focus {
    color: #EEE;
    background-color:#333;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: inset 6px 6px 10px 0 rgba(20, 20, 0, 0.5),
    inset -6px -6px 10px 0 rgba(255, 215, 0, 0.4);
    overflow:hidden;
}
.testbox .btn {
    font-size:1.8em;
    box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.4),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    background: linear-gradient(
    -45deg,
    rgba(185, 145, 27, 0.2),
    rgba(235, 203, 26, 0.6)
    );
    border:none;
    margin:20px 0;
}
.nav-link:hover {
    color:white !important;
}

/* TOAST */
.toast-container {
    z-index:2000;
    position:absolute;
    top:0;
    color:#000;
}

/* MOTS */
.mot-box {
    margin: 0 auto;
    width: 80%;
    -webkit-border-radius: 20px/18px;
    -moz-border-radius: 20px/18px;
    background-color: #333;
    border: none;
    padding:20px;
    padding-top:60px;
    box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.4),
    -8px -8px 12px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.mot-box p {
    font-size:3rem;
}
.mot-div {
    align-content: center;
    align-items: center;
    text-align: center;
    background-color:white;
    border-radius:10px;
    display: grid;
    height:80px;
    width:100%;
    overflow:hidden;
}

.mot-image {
    align-content: center;
    align-items: center;
    text-align: center;
    display:grid;
    max-height:80px;
    max-width:80px;
}
.image-cropper-word {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color:white;
}
.image-cropper-word img {
    display: grid;
    margin: 5px auto;
    height: 90%;
    width: auto;
}

.mot-input {
    float: left;
    font-size:2.2rem;
    height:80px;;
    background-color: #333333 !important;
    color:#CCCCCC !important;
}
.word-input {
    float: left;
    font-size:2.2rem;
    height:80px;;
    background-color: #333333 !important;
    color:#333333 !important;
}
.mot-box a.edit {
    font-size:3rem;
    height:80px;
    width:80px;
    border-radius:10px;
    display:grid;
}

.custom-select {
    font-size:1.8rem;
    width:300px;
    border-radius:5px;
    border:none;
    background-color: #333333 !important;
    color:#CCCCCC;
}
.key_up {
    box-sizing: border-box;
    line-height: 290px;
    font-size: 150px;
    text-align: center;
    width: 300px;
    color: #333 !important;
    cursor: pointer;
    margin: 0 8px;
    height: 300px;
    border-color: #f2f2f2;
    border-style: solid;
    text-shadow: 0 0.5px 1px #FFF, 0 4px 2px #FFF;
    border-width: 1px;
    border-radius: 20px;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
    font-family: sans-serif;
    display: inline-block;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    box-shadow: 0 0 1px #FFF,
                0 1px 0 #fff,
                0 40px 0 #C0C0C0,
                0 8px 17px rgba(68, 68, 68, 0.4),
                2px 1px 4px rgba(68, 68, 68, 0.25),
                -2px 1px 4px rgba(68, 68, 68, 0.25),
                0 9px 16px rgba(68, 68, 68, 0.1);
}
.key_ok {
     background: -webkit-linear-gradient(top, #2A8B3F 0%, #34AF4F 80%, #8CAB93 100%);
     color:#FFF !important;
     text-shadow: 0 0.5px 1px #FFF, 0 4px 2px #333;
}
.key_ko {
     background: -webkit-linear-gradient(top, #e13232 0%, #EA6F6F 80%, #E75B5B 100%);
     color:#FFF !important;
     text-shadow: 0 0.5px 1px #FFF, 0 4px 2px #333;
}
.word_ko {
    color:#FFF;
    background-color:#EA6F6F !important;
}
.word_ok {
    color:#FFF;
    background-color:#34AF4F !important;
}
.key_press {
    box-shadow: 0 0 20px #FFF,
              0 0 20px #fff,
              0 4px 0 #C0C0C0,
              0 2px 35px rgba(68, 68, 68, 0.3),
              2px 2px 4px rgba(68, 68, 68, 0.25),
              -2px 2px 4px rgba(68, 68, 68, 0.25),
              0 7px 4px rgba(68, 68, 68, 0.1);
    transform: translateY(36px);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
}
.btn-labeled {
    padding-top: 0;
	padding-bottom: 0;
}
#letter {
    font-family: 'PT Mono', monospace;
}
.count-red {
    color:#e13232 !important;
    text-shadow: 0 0.5px 1px #FFF, 0 4px 2px #333;
}
a {
    text-decoration: none;
}
.error-border {
    /* border:10px solid #e06666 !important; */
    background-color:rgba(255, 0, 0, .2);
}

.success-border {
    /* border:10px solid #93c47d !important; */
    background-color:rgba(0, 255, 0, .2);
}

/* HALO */
#scene {
    position: absolute;
    top:110px;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    /*
    width:100%;
    height:100%;
    */
    background: #1d1f20;
    text-align: center;
    overflow:hidden;
}
.magic {
    z-index: 5;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:  inset 20px 0 50px rgba(0,0,0,.8),
               inset -20px 0 50px rgba(0,0,0,.8),
               inset 0 20px 50px rgba(0,0,0,.8),
               inset 0 -20px 50px rgba(0,0,0,.8),
               10px 0 50px rgba(0,0,0,.8),
               -10px 0 50px rgba(0,0,0,.8),
               0 10px 50px rgba(0,0,0,.8),
               0 -10px 50px rgba(0,0,0,.8);
	
}
.back-magic {
    position: absolute;
    z-index:6;

}
.image-cropper-halo {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.image-cropper-halo img {
    display: grid;
    position:relative;
    left:-25%;
    margin: 5px auto;
    height: 100%;
    width: auto;
}
/* ECRAN NORMAL */
@media screen and (min-width: 601px) {
    .choicefont {
        font-size:5rem !important;
    }

    .addition-border {
        background-color:#DDDDDD !important;
        border-radius:50px;
        margin-bottom:20px;
        color:black;
        font-size:8em !important;
    }
}
/* MOBILE */
@media screen and (max-width: 601px) {
    .choicefont {
        font-size:2rem;
    }
    .addition-border {
        background-color:#DDDDDD !important;
        border-radius:25px;
        margin-bottom:20px;
        color:black;
        font-size:3rem !important;
    }
    .mot-box {
        margin: 0 auto;
        width: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        background-color: #333;
        border: none;
        padding:10px;
        padding-top:60px;
        box-shadow: none;
        border-radius: 20px;
    }
}

/*
* PLUGIN ****************************
*/
.select2-container--default.select2-container--focus,
.select2-selection.select2-container--focus,
.select2-container--default:focus,
.select2-selection:focus,
.select2-selection:active {
    outline:none;
    height:43px !important;
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border:1px;
    border-radius:0;
    padding:6px 12px;
    height:43px !important;
}
.select2-container--default .select2-container--open {
    border-color:#3c8dbc;
    color:#333 !important;
}
.select2-dropdown {
    border:1px solid #d2d6de;
    border-radius:0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color:#3c8dbc;
    color:#333 !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    color:#333 !important;
}
.select2 {
    color:#333 !important;
}
.select2-container .select2-selection--single {
    height:43px !important;
}
.select2-container, .selection {
    color:#333;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color:#FFF !important;
}
.bg-error {
    background-color:#dc3545 !important;
}
.toast-body {
    color:#333 !important;
}