{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - {{ title }}{% endblock %}
{% block content %}
<div class="row clear">
    <div class="col-8 border-end border-primary" id="quizs">
        <div class="row mb-2">
            <h4 class="col-10">Liste des quizs</h4>
            <div class="col-2"><a href="{% url 'poll:quiz-create' %}" class="btn btn-secondary float-end btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Créer un quiz" data-bs-placement="left"><i class="bi bi-plus"> </i></a></div>
        </div>
        <div class="list-group list-group-numbered" type="1">
        {% for quiz in quizs %}
        <a class="list-group-item list-group-item-action py-2" href="{% url 'poll:question-list' quiz_id=quiz.id question_id=None %}">
            {{ forloop.counter }} - <span id="quiz_menu_{{ quiz.id }}">{{ quiz.nom }}</span>
        </a>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}