{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - {{ title }}{% endblock %}
{% block content %}
<div class="row clear">
    <div class="col-12" id="quizs">
        <div class="row mb-2">
            <h4 class="col-12">Liste des quizs</h4>
        </div>
        <div class="list-group list-group-numbered" type="1">
        {% for quiz in quizs %}
        <a class="list-group-item list-group-item-action py-2" href="{% url 'poll:show-quiz' quiz_id=quiz.id %}">
            {{ forloop.counter }} - <span id="quiz_menu_{{ quiz.id }}">{{ quiz.nom }}</span>
        </a>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}