{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - ADDITION{% endblock %}
{% block content %}
{% if user.is_authenticated %}

    <div class="modal fade" tabindex="-1" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger" style="color:white !important;">
                    <h5 class="modal-title">Temps écoulé !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body" style="color:#333 !important;">
                    <p>Le temps est ecoulé !</p>
                    <p>Ton score est de <span id="score"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <form>
        <input type="hidden" value="" id="inputScore" name="inputScore">
        <input type="hidden" value="{{ additionPoseeScore }}" id="inputBestScore" name="inputBestScore">
        {% csrf_token %}
    </form>

    <div class="mot-box" id="box">
        <div class="row mb-2">
            <div class="col-6 h1 px-5">Additions Posées</div>
            <div class="col-6 offset text-end h2" id="scoreActuel">Ton meilleur score est de {{ additionPoseeScore }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-9 px-5 text-center">
                <div class="row">
                    <div class="col py-5 addition-border" style="font-size:5rem; padding-top:70px !important; padding-bottom:150px !important;" id="addition">
                        <span id="spanRandomNum1" style="text-align:right; width:300px; display:block; padding:0; margin:0 auto; height:20px; line-height:0px;"></span>
                        <span id="spanRandomNum2" style="text-align:right; width:300px; display:block; padding:0; margin:0 auto; height:20px; line-height:170px;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-grid gap-2"><input id="sol1" type="button" class="btn btn-primary btn-lg" style="font-size:5rem;" name="sol" text="" value="" /></div>
                    <div class="col-4 d-grid gap-2"><input id="sol2" type="button" class="btn btn-primary btn-lg" style="font-size:5rem;" name="sol" text="" value="" /></div>
                    <div class="col-4 d-grid gap-2"><input id="sol3" type="button" class="btn btn-primary btn-lg" style="font-size:5rem;" name="sol" text="" value="" /></div>
                </div>
            </div>
            <div class="col-3">
                <div class="row" style="font-size:3.5rem"><div class="text-center" id="timer">01 : 00</div></div>
                <div class="row" id="play">
                    <button type="button" class="text-center btn btn-success btn-labeled my-2 py-2 fs-5"><span class="btn-label"><i class="bi bi-play-circle pr-2"></i></span>Démarrer</button></div>
                <div class="row" style="font-size:5rem"><div id="count" class="text-center">0</div></div>
            </div>
        </div>
    </div>
<script>
$(document).ready(function(){
    var secondes = 0;
    var countSecondes = 59;
    var minutes= 1;
    var count = 0;
    var on = false;
    var reset = false;
    var button = [1,2,3];
    var randomNum1 = "";
    var randomNum2 = "";
    var addition, additionBidon1, additionBidon2 = 0;
    var points = 0;
    var bt1, bt2, bt3;
    var countError = 0;

    $("#play").click(function(){
        minutes = 1;
        Start();
        count = 0;
        resetAddition();

        $('#sol' + bt2).val(additionBidon1);
        $('#sol' + bt3).val(additionBidon2);
        $("#int1").val(randomNum1);
        $("#count").html(count);
        $("#score").html(count);
    });

    $('input[name="sol"]').click(function() {
        countSecondes = countSecondes - secondes;
        if (countSecondes <= 5) {
            points = 5;
        }
        if (countSecondes > 5 && countSecondes <=10) {
            points = 3;
        }
        if (countSecondes > 10 && countSecondes <=20) {
            points = 1;
        }
        if (countSecondes > 8) {
            points = 0;
        }
        var sol = $(this).val();

        if (sol == addition) {
            $('#box').removeClass("error-border");
            $('#box').addClass("success-border");
            resetAddition();
            countSecondes = secondes;
            count = count + points;
            countError = 0;
        } else {
            $('#box').removeClass("success-border");
            $('#box').addClass("error-border");
            if (countError == 1) {
                if (count > 1) {
                    count = count - 2;
                    countError = 2;
                }
            } else if (countError ==2) {
                if (count > 4) {
                    count = count - 5;
                } else if (count > 1) {
                    count = count - 2;
                } else if (count > 0) {
                    count--;
                }
            } else {
                if (count > 0) {
                    count--;
                    countError = 1;
                }
            }
        }
        $("#count").html(count);
        $("#score").html(count);
    });

    function resetAddition() {
        randomNum1 = randomIntFromInterval(10,99);
        randomNum2 = randomIntFromInterval(10,99);

        $("#spanRandomNum1").html(randomNum1);
        $("#spanRandomNum2").html("+ " + randomNum2);
        $("#int1").val(randomNum1);
        $("#int2").val(randomNum2);
        addition = randomNum1 + randomNum2;

        bt1 = button[Math.floor(Math.random() * button.length)];
        button = jQuery.grep(button, function(value) {
          return value != bt1;
        });

        bt2 = button[Math.floor(Math.random() * button.length)];
        button = jQuery.grep(button, function(value) {
          return value != bt2;
        });

        bt3 = button[0];
        button = [1,2,3];


        if (addition < 11) {
            additionBidon1 = addition + 5;
        } else {
            additionBidon1 = addition - 10 ;
        }


        if (addition > 195 ) {
            additionBidon2 = addition - 5 ;
        } else {
            additionBidon2 = addition + 10 ;
        }
        $('#sol' + bt1).val(addition);
        $('#sol' + bt2).val(additionBidon1);
        $('#sol' + bt3).val(additionBidon2);
    }

    function chrono() {
        secondes -= 1;
        if (secondes <= 0 && minutes <= 0) {
            Stop();
            minutes = 0;
            secondes = 0;
            $('#myModal').modal('show');

            if ($('#inputBestScore').val() < count) {
                $('h5.modal-title').html('BRAVO ! Tu as battu ton score !');
                $('div.modal-header').attr("class", "modal-header bg-success");
            }
        } else {
            if (secondes <= 0) {
                minutes -= 1;
                secondes = 59;
            }
        }

        if (minutes < 10 && secondes < 10) {
            $("#timer").html("0" + minutes+" : 0" + secondes);
        } else if(minutes < 10 && secondes >= 10) {
            $("#timer").html("0" + minutes+" : " + secondes);
        } else if(minutes >= 10 && secondes < 10) {
            $("#timer").html( + minutes + " : 0" + secondes);
        } else if(minutes >= 10 && secondes > 10){
            $("#timer").html( + minutes + " : " + secondes);
        }

        if (minutes <= 0 && secondes < 10) {
            $("#timer").addClass("count-red");
        }
    }

    function Start() {
        minutes = 1;
        secondes = 0;
        if (on===false) {
            timerID = setInterval(chrono, 1000);
            on = true;
            reset = false;
            minutes = 1;
            $("#timer").removeClass("count-red");
        }
    }

    function Stop() {
        if (on===true) {
            on = false;
            clearTimeout(timerID);
            $("#addition").html("");
            $('#inputScore').val(count);
            Save();
        }
    }

    function Save() {
        var score = document.querySelector('#inputScore').value;
        console.log(score);
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let formData = new FormData();
        formData.append('score', score);

        const request = new Request('{% url "games:save_addition_posee_progress" %}', {
          method: 'POST',
          body: formData,
          headers: {'X-CSRFToken': csrfTokenValue},  // On ajoute le token dans l'en-tête
        });

        fetch(request)
        .then(response => response.json())
        .then(result => {
            const resultElement = document.querySelector("#scoreActuel");
            resultElement.innerHTML = "Ton meilleur score est : " + result["Score"];
        });
    }

    function randomIntFromInterval(min, max) { // min and max included
        return Math.floor(Math.random() * (max - min + 1) + min)
    }
});
$('#dynamic-select').bind('change', function () { // bind change event to select
        var url = "?l=" + $(this).val(); // get selected value
        if (url != '') { // require a URL
            window.location = url; // redirect
        }
        return false;
    });
</script>
{% endif %}
{% endblock %}
