{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - LETTRE{% endblock %}
{% block content %}
{% if user.is_authenticated %}

    <div class="modal fade" tabindex="-1" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger" style="color:white !important;">
                    <h5 class="modal-title">Temps écoulé !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body" style="color:#333 !important;">
                    <p>Le temps est ecoulé !</p>
                    <p>Ton score est de <span id="score"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <form>
        <input type="hidden" value="" id="inputScore" name="inputScore">
        <input type="hidden" value="{{ letterScore }}" id="inputBestScore" name="inputBestScore">
        <input type="hidden" value="{{ level }}" id="inputLevel">
        {% csrf_token %}
    </form>

    <div class="mot-box">
        <div class="row">
            <div class="col-10 offset text-center fs-2" id="scoreActuel">Ton meilleur score est : {{ letterScore }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-10 p-5 text-center">
                <div class="key_up" id="letter"></div>
            </div>
            <div class="col-2">
                <div class="row" style="font-size:3.8rem"><div class="text-center" id="timer">01 : 00</div></div>
                <div class="row">
                    <div>
                        <select class="custom-select h1 text-center" style="width:200px !important;" onchange="window.location.href=?l=" id="dynamic-select">
                            <option {% if level == '1' %} selected {% endif %} value="1">Niveau 1</option>
                            <option {% if level == '2' %} selected {% endif %} value="2">Niveau 2</option>
                            <option {% if level == '3' %} selected {% endif %} value="3">Niveau 3</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="play"><button type="button" class="text-center btn btn-success btn-labeled my-2 py-2 fs-5"><span class="btn-label"><i class="bi bi-play-circle pr-2"></i></span>Démarrer</button></div>
                <div class="row" style="font-size:5rem"><div id="count" class="text-center">0</div></div>
            </div>
        </div>
    </div>
{% endif %}
<script>
$(document).ready(function(){
    var secondes = 0;
    var minutes = 1;
    var on = false;
    var reset = false;
    var count = 0;
    var alphabet = "abcdefghijklmnopqrstuvwxyz";
    var alphabet2 = "ABCDEFGHIJKLMNOPQRTSUVWXYZ";
    var alphabet3 = "1234567890";
    var alphabet4 = ",;.?:()\"'";
    var level = document.querySelector('#inputLevel').value;
    if (level == '2') {
        alphabet = alphabet + alphabet2;
    }
    if (level == '3') {
        alphabet = alphabet + alphabet2 + alphabet3;
    }
    if (level == '4') {
        alphabet = alphabet + alphabet2 + alphabet3 + alphabet4;
    }
    var randomCharacter = "";

    $("#play").click(function(){
        minutes = 1;
        secondes = 0;
        Start();
        count = 0;
        randomCharacter = alphabet[Math.floor(Math.random() * alphabet.length)];
        $("#letter").html(randomCharacter);
        $("#count").html(count);
        $("#score").html(count);

    });
    $('body').keypress(function(e) {
        if (secondes == 0 && minutes == 0) {
            console.log('STOP');
        } else {
            var letter_press = String.fromCharCode( e.which );
            $('#letter').addClass("key_press");
            if (randomCharacter != "") {
                if (letter_press == randomCharacter) {
                    $('#letter').addClass("key_ok");
                    $('#letter').removeClass("key_ko");
                    randomCharacter = alphabet[Math.floor(Math.random() * alphabet.length)]
                    $("#letter").html(randomCharacter);
                    count++;
                    $("#count").html(count);
                    $("#score").html(count);
                } else {
                    if (count > 0) { count--; }
                    $("#count").html(count);
                    $("#score").html(count);
                    $('#letter').addClass("key_ko");
                    $('#letter').removeClass("key_ok");

                }
            }
        }

    });
    $('body').keyup(function(e) {
        var letter_press = String.fromCharCode( e.which );
        $('#letter').addClass("key_up");
        $('#letter').removeClass("key_press");
    });

    function chrono(){
        secondes -= 1;
        if (secondes <= 0 && minutes <= 0) {
            Stop();
            minutes = 0;
            secondes = 0;
            $('#myModal').modal('show');
            console.log($('#inputBestScore').val())
            console.log(count)
            if ($('#inputBestScore').val() < count) {
                $('h5.modal-title').html('BRAVO ! Tu as battu ton score !');
                $('div.modal-header').attr("class", "modal-header bg-success");
            }

        } else {
            if (secondes <= 0) {
                minutes -= 1;
                secondes = 59;
            }
        }

        if(minutes < 10 && secondes < 10) {
            $("#timer").html("0" + minutes+" : 0" + secondes);
        } else if(minutes < 10 && secondes >= 10) {
            $("#timer").html("0" + minutes+" : " + secondes);
        } else if(minutes >= 10 && secondes < 10) {
            $("#timer").html( + minutes + " : 0" + secondes);
        } else if(minutes >= 10 && secondes > 10){
            $("#timer").html( + minutes + " : " + secondes);
        }

        if (minutes <= 0 && secondes < 10) {
            $("#timer").addClass("count-red");
        }
    }

    function Start() {
        if (on===false) {
            timerID = setInterval(chrono, 1000);
            on = true;
            reset = false;
            minutes = 1;
            $("#timer").removeClass("count-red");
        }
    }

    function Stop() {
        if (on===true) {
            on = false;
            clearTimeout(timerID);
            $('#letter').removeClass("key_ok");
            $('#letter').removeClass("key_ko");
            $("#letter").html("");
            $('#letter').addClass("key_up");
            $('#letter').removeClass("key_press");
            $('#inputScore').val(count);
            Save();
        }
    }

    function Save(){
        var level = document.querySelector('#inputLevel').value;
        var score = document.querySelector('#inputScore').value;
        console.log(level);
        console.log(score);
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let formData = new FormData();
        formData.append('level', level);
        formData.append('score', score);

        const request = new Request('{% url "games:save_letter_progress" %}', {
          method: 'POST',
          body: formData,
          headers: {'X-CSRFToken': csrfTokenValue},  // On ajoute le token dans l'en-tête
        });

        fetch(request)
        .then(response => response.json())
        .then(result => {
            const resultElement = document.querySelector("#scoreActuel");
            resultElement.innerHTML = "Ton meilleur score est : " + result["Score"];
        });
    }
});
$('#dynamic-select').bind('change', function () { // bind change event to select
        var url = "?l=" + $(this).val(); // get selected value
        if (url != '') { // require a URL
            window.location = url; // redirect
        }
        return false;
    });
</script>
{% endblock %}
