{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - Accueil{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
  {% if request.user|has_group:"ADMIN" or request.user|has_group:"ENSEIGNANT" %}
<div class="testbox">
    <form method="post" enctype="multipart/form-data">
      {%csrf_token %}
      {{ form|crispy }}
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Créer !</button>
      </div>
    </form>
</div>
  {% endif  %}
{% endif  %}
{% endblock %}