{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - MOTS{% endblock %}
{% block content %}
{% if user.is_authenticated %}

    <div class="modal fade" tabindex="-1" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger" style="color:white !important;">
                    <h5 class="modal-title">Temps écoulé !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body" style="color:#333 !important;">
                    <p>Le temps est ecoulé !</p>
                    <p>Ton score est de <span id="score"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <form>
        <input type="hidden" value="" id="inputScore" name="inputScore">
        <input type="hidden" value="{{ wordOneScore }}" id="inputBestScore" name="inputBestScore">
        <input type="hidden" value="{{ level }}" id="inputLevel">
        {% csrf_token %}
    </form>

    <div class="">
        <div class="row mb-2">
            <div class="col-12 offset text-start h2" id="scoreActuel">Ton meilleur score est de {{ wordOneScore }} mots à la minute</div>
        </div>
        <div class="row mb-3">
            <div class="col-7">
                <div class="row mb-2">
                    <input disabled style="background-color:#EEE !important;" type="text" class="form-control-lg form-control word-input" id="word" value="" />
                </div>
                <div class="row mb-2">
                    <input type="text" id="wordFind" class="form-control-lg form-control mot-input" />
                    <intput type="hidden" id="nextWord">
                </div>
            </div>
            <div class="col-5">
                <div class="text-end h1" id="timer">01 : 00</div>
                <div class="fs-5 py-2 text-end">
                    <select class="basic-single text-start level-select py-2" style="width:200px !important;" onchange="window.location.href=?l=" id="dynamic-select">
                        <option {% if level == '1' %} selected {% endif %} value="1">Niveau 1</option>
                        <option {% if level == '2' %} selected {% endif %} value="2">Niveau 2</option>
                        <option {% if level == '3' %} selected {% endif %} value="3">Niveau 3</option>
                        <option {% if level == '4' %} selected {% endif %} value="4">Niveau 4</option>
                        <!--
                        <option {% if level == '5' %} selected {% endif %} value="5">Niveau 5</option>
                        <option {% if level == '6' %} selected {% endif %} value="6">Niveau 6</option>
                        -->
                    </select>
                </div>
                <div class="text-end my-2">
                    <button type="button" id="play" class="text-center btn btn-success btn-labeled py-2 fs-5"><span class="btn-label"><i class="bi bi-play-circle pr-2"></i></span> Démarrer</button>
                </div>
                <div id="count" class="text-end score-live">0</div>
            </div>
        </div>
    </div>
{% endif %}
<script>
$(document).ready(function(){
    var secondes = 0;
    var minutes = 1;
    var on = false;
    var reset = false;
    var count = 0;
    var mots = {{ word_list|safe }}
    $("#word").val("");

    var level = document.querySelector('#inputLevel').value;
    var randomWord = "";
    var tempWord = [];

    $("#play").click(function(){
        minutes = 1;
        secondes = 0;
        Start();
        count = 0;
        randomWord = mots[Math.floor(Math.random() * mots.length)]
        $("#word").val(randomWord);
        $("#wordFind").val("");
        $("#wordFind").focus();
        $("#count").html(count);
        $("#score").html(count);
    });

    $("#wordFind").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#nextWord").click();
        }
    });


    $("#nextWord").click(function(){
        if (secondes == 0 && minutes == 0 || mots.length == tempWord.length) {
            // console.log('STOP');
        } else {
            var word_find = $('#wordFind').val();

            if (randomWord != "") {
                if (word_find == randomWord) {
                    tempWord.push(randomWord);
                    $('#wordFind').addClass("word_ok");
                    $('#wordFind').removeClass("word_ko");
                    randomWord = mots[Math.floor(Math.random() * mots.length)]
                    // console.log(mots.length);
                    // console.log(tempWord.length);
                    if (mots.length <= tempWord.length) {
                        tempWord = [];
                    }
                    while (tempWord.includes(randomWord)) {
                        randomWord = mots[Math.floor(Math.random() * mots.length)];
                    }
                    $("#word").val(randomWord);
                    count++;
                    $("#count").html(count);
                    $("#score").html(count);
                    $("#wordFind").val("");
                    $("#wordFind").focus();

                } else {
                    // if (count > 0) { count--; }
                    $("#count").html(count);
                    $("#score").html(count);
                    $('#wordFind').addClass("word_ko");
                    $('#wordFind').removeClass("word_ok");
                    $("#wordFind").focus();
                }
            }
        }
    });

    function chrono(){
        secondes -= 1;
        if (secondes <= 0 && minutes <= 0 || mots.length == tempWord.length) {
            Stop();
            minutes = 0;
            secondes = 0;
            $('#myModal').modal('show');
            console.log($('#inputBestScore').val())
            console.log(count)
            if ($('#inputBestScore').val() < count) {
                $('h5.modal-title').html('BRAVO ! Tu as battu ton score !');
                $('div.modal-header').attr("class", "modal-header bg-success");
            } else {
                $('h5.modal-title').html('DOMMAGE ! N\'abandonnes pas !');
                $('div.modal-header').attr("class", "modal-header bg-warning");
            }

        } else {
            if (secondes <= 0) {
                minutes -= 1;
                secondes = 59;
            }
        }

        if(minutes < 10 && secondes < 10) {
            $("#timer").html("0" + minutes+" : 0" + secondes);
        } else if(minutes < 10 && secondes >= 10) {
            $("#timer").html("0" + minutes+" : " + secondes);
        } else if(minutes >= 10 && secondes < 10) {
            $("#timer").html( + minutes + " : 0" + secondes);
        } else if(minutes >= 10 && secondes > 10){
            $("#timer").html( + minutes + " : " + secondes);
        }

        if (minutes <= 0 && secondes < 10) {
            $("#timer").addClass("count-red");
        }
    }

    function Start() {
        if (on===false) {
            timerID = setInterval(chrono, 1000);
            on = true;
            reset = false;
            minutes = 1;
            $("#timer").removeClass("count-red");
        }
    }

    function Stop() {
        if (on===true) {
            on = false;
            clearTimeout(timerID);
            $('#letter').removeClass("key_ok");
            $('#letter').removeClass("key_ko");
            $("#letter").html("");
            $('#letter').addClass("key_up");
            $('#letter').removeClass("key_press");
            $('#inputScore').val(count);
            $("#word").val("");
            Save();
        }
    }

    function Save(){
        var level = document.querySelector('#inputLevel').value;
        var score = document.querySelector('#inputScore').value;
        // console.log(level);
        // console.log(score);
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let formData = new FormData();
        formData.append('level', level);
        formData.append('score', score);

        const request = new Request('{% url "games:save_word_progress_one" %}', {
          method: 'POST',
          body: formData,
          headers: {'X-CSRFToken': csrfTokenValue},  // On ajoute le token dans l'en-tête
        });

        fetch(request)
        .then(response => response.json())
        .then(result => {
            const resultElement = document.querySelector("#scoreActuel");
            resultElement.innerHTML = "Ton meilleur score est : " + result["Score"];
        });
    }
});
$('#dynamic-select').bind('change', function () { // bind change event to select
        var url = "?l=" + $(this).val(); // get selected value
        if (url != '') { // require a URL
            window.location = url; // redirect
        }
        return false;
    });
$(document).ready(function() {
    $('.basic-single').select2();
});
</script>
{% endblock %}
