{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - Accueil{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <div class="mot-box">
    <div class="row justify-content-between">
      <div class="h1 col-9">Liste de mots pour la classe de {{ classe }}</div>
      <div class="col-3 align-end">
        <div>
          <select class="custom-select h1" onchange="window.location.href=?l=" id="dynamic-select">
            <option {% if level == '1' %} selected {% endif %} value="1">Niveau 1</option>
            <option {% if level == '2' %} selected {% endif %} value="2">Niveau 2</option>
            <option {% if level == '3' %} selected {% endif %} value="3">Niveau 3</option>
            <option {% if level == '4' %} selected {% endif %} value="4">Niveau 4</option>
          </select>
        </div>
      </div>
    </div>
    <div class="rowjustify-content-between">
      <em class="col-12">Saisissez les mots que vous voyez dans les cases correspondantes (minuscules, Majuscule + minuscules, MAJUSCULES</em>
    </div>
    <p id="word"></p>
    <div class="row mb-2">
      <div class="col-1"></div>
      <div class="col-3 text-center"></div>
      {% if request.user|has_group:"ADMIN" or request.user|has_group:"ENSEIGNANT" %}
          <div class="col-3 text-center">
          {% else %}
          <div class="col-4 text-center">
          {% endif %}
            <span class="h5">Mot</span><br><em class="h6">(1ere lettre en Majuscule)</em>
          </div>
      {% if request.user|has_group:"ADMIN" or request.user|has_group:"ENSEIGNANT" %}
          <div class="col-3 text-center">
          {% else %}
          <div class="col-4 text-center">
          {% endif %}
            <span class="h5">MOT</span><br><em class="h6">(Toutes les lettres en Majuscule)</em>
          </div>
      <div class="col-2"></div>
    </div>
    <form method="POST">
    {% csrf_token %}
      <input type="hidden" name="id">
    {% for word in words %}
      <div class="row mb-2">
        <div class="col-1">
          <div class="image-cropper-word">
            <img src="{{ word.image.url }}" />
          </div>
        </div>
        <div class="col-3">
          <input type="text" disabled class="form-control-lg form-control mot-input rounded-pill" name="word-min" id="word-min-{{ word.pk }}" value="{{ word.name }}" data-id="word" />
        </div>
          {% if request.user|has_group:"ADMIN" or request.user|has_group:"ENSEIGNANT" %}
          <div class="col-3">
          {% else %}
          <div class="col-4">
          {% endif %}
          {% if word in word_done_list %}
          <input disabled style="background-color:#1A5728 !important;" type="text" class="form-control-lg form-control mot-input rounded-pill" name="word-first-maj"  id="word-first-maj-{{ word.pk }}" onchange="testFirstMaj({{ word.pk }});" data-id="wordmin" value="{{ word }}"/>
          {% else %}
          <input type="text" class="form-control-lg form-control mot-input rounded-pill" name="word-first-maj"  id="word-first-maj-{{ word.pk }}" onchange="testFirstMaj({{ word.pk }});" data-id="wordmin" />
          {% endif %}
        </div>
        {% if request.user|has_group:"ADMIN" or request.user|has_group:"ENSEIGNANT" %}
        <div class="col-3">
        {% else %}
        <div class="col-4">
        {% endif %}
          {% if word in word_done_list %}
          <input disabled style="background-color:#1A5728 !important;" type="text" class="form-control-lg form-control mot-input rounded-pill" name="word-maj" id="word-maj-{{ word.pk }}" onchange="testMaj({{ word.pk }});" data-id="wordmaj" value="{{ word|upper }}" />
          {% else %}
          <input type="text" class="form-control-lg form-control mot-input rounded-pill" name="word-maj" id="word-maj-{{ word.pk }}" onchange="testMaj({{ word.pk }});" data-id="wordmaj" />
          {% endif %}
        </div>
        {% if request.user|has_group:"ADMIN" or request.user|has_group:"ENSEIGNANT" %}
        <div class="col-2">
          <a class="btn btn-warning edit" href="{% url 'games:update_word' word.id %}"><i class="bi bi-pencil"></i></a>
        </div>
        {% endif %}
      </div>
    {% endfor %}
    </form>
  </div>
<script>
function testFirstMaj(idMot) {
  result = false;
  var valWordMin = document.getElementById('word-min-' + idMot).value
  var valWordFirstMaj = document.getElementById('word-first-maj-' + idMot).value

  valWordMin =  valWordMin.substr(0, 1).toUpperCase() + valWordMin.substr(1);
  var inputMinMaj = document.getElementById('word-first-maj-' + idMot);
  if (valWordFirstMaj != "") {
    if (valWordMin === valWordFirstMaj) {
      // TRUE
      result = true
      inputMinMaj.style.setProperty("background-color", "#1A5728", "important");
    } else {
      inputMinMaj.style.setProperty("background-color", "#821A1A", "important");
    }
  } else {
    inputMinMaj.style.setProperty("background-color", "", "important");
  }
  return result;
}

function testMaj(idMot) {
  result = false;
  var valWordMin = document.getElementById('word-min-' + idMot).value
  var valWordMaj = document.getElementById('word-maj-' + idMot).value

  valWordMin =  valWordMin.toUpperCase();
  var inputMaj = document.getElementById('word-maj-' + idMot);

  if (valWordMaj != "") {
    if (valWordMin.localeCompare(valWordMaj)) {
      // TRUE
      result = true;
      inputMaj.style.setProperty("background-color", "#1A5728", "important");

    } else {
      // FALSE
      inputMaj.style.setProperty("background-color", "#821A1A", "important");
    }
  } else {
    // FALSE
    inputMaj.style.setProperty("background-color", "", "important");
  }
  return result;
}

$(document).on("change", "input[data-id='wordmin'], input[data-id='wordmaj']", function(){
  var id = $(this).attr('id');
  id = id.split("-").pop();
  console.log('id:', id);
  console.log(testMaj(id))
  console.log(testFirstMaj(id))

  if (testMaj(id) && testFirstMaj(id)) {
    let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let formData = new FormData();
    formData.append('word', id);

    const request = new Request('{% url "games:save_word_progress" %}', {
      method: 'POST',
      body: formData,
      headers: {'X-CSRFToken': csrfTokenValue},  // On ajoute le token dans l'en-tête
    });

    fetch(request)
    .then(response => response.json())
    .then(result => {
        const resultElement = document.querySelector("#word");
        resultElement.innerHTML = result["Mots"];
    });
  }
});

$('#dynamic-select').bind('change', function () { // bind change event to select
        var url = "?l=" + $(this).val(); // get selected value
        if (url != '') { // require a URL
            window.location = url; // redirect
        }
        return false;
    });
</script>
{% endif  %}
{% endblock %}