{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% load show_score %}
{% block title %}School @ ENDTG - Profile{% endblock %}
{% block content %}

<div id="formContent" class=" row justify-content-md-center">
    <!-- Login Form -->
    <form class="form-group col-6" action=" " method="post" id="form_forget">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Réinitialisation du mot de passe !</h1>
            <div class="form-floating mb-3 col-10">
                {{ form.username }}
                <label for="id_username">Nom d'utilisateur ou adresse mail :</label>
            </div>
            <div class="row align-middle">
                <div class="col-10">
                    <button class="btn btn-primary bx-pull-left form-control" type="submit">Demande de réinitialisation</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
$("#form_forget").submit(function() {
    $('body').toggleClass('loading');
});
</script>
{% endblock %}