{% extends 'layouts/default/base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %}School @ ENDTG - Accueil{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="testbox">
<h2>IDENTIFICATION</h2>
<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Connexion</button>
    </div>
    <div class="text-center py-3">
        <a href="{% url 'account:forget' %}">Cliquez-ici, si vous avez oublié votre mot de passe</a>
    </div>
</form>
</div>
<script>
$(document).on('select2:open', () => {
    document.querySelector('.select2-search__field').focus();
});
</script>
{% endblock %}